.section {
  width: 100%;
}

.slider {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  &.sliderLight {
    background: #fff;
  }
}

.sliderContent {
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: #fff;
}

.header::after {
  content: "";
  display: block;
  width: 30%;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: 15px auto 0;
}

.subheader {
  color: #fff;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}
