.root {
  display: flex;
  justify-content: center;
  padding: 32px auto;
}

.btnWrap {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  margin: 5px auto;
}